/* ######### CABECALHO ######### */


.cabecalho{
   width: 90%;
   margin: 2% auto;
   font-family: 'Inter', sans-serif;
}

.cabecalho .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo-cabecalho{
   width: 15%;
}

.img-logo-cabecalho{
   width: min-content;
   vertical-align: middle;
}

.txt-logo{
   font-size: 20px;
   font-weight: 600;
}

.menu-nav{
   width: 50%;
}

.lista-menu-nav{
   color: #6E7275;
   display: flex;
   justify-content: space-around;
   font-size: 16px;
   font-weight: 500;
}

.lista-menu-nav li{
   border-bottom: 2px solid transparent;
}

.lista-menu-nav li:hover{
   border-bottom: 2px solid #0F9AFE;
   cursor: pointer;
   transition: 150ms;
}




/* ######### INTRO ######### */
.intro{
   background-color: #EFF8FF;
   width: 100%;
   margin: 2% auto;
}

.container-intro{
   display: flex;
   justify-content: center;
   align-items: center;
}

.content-text{
   width: 40%;
}

.ilustracao-intro{
   width: 45%;
   
}

.titulo-principal{
   font-size: 48px;
   font-family: 'sora', sans-serif;
   color: #293145;
   font-weight: 600;
}

.bt-intro{
   background-color: #0F9AFE;
   color: #ffffff;
   font-family: 'inter', sans-serif;
   font-weight: 500;
   border-radius: 20px;
   width: 25%;
   height: 40px;
   border: none;
   margin-top: 10%;
   box-shadow: 1px 1px 3px #293145;
}

.bt-intro:hover{
   background-color: #3cacfc;
   cursor: pointer;
   transition: 250ms;
}




/* ######### COMO FUNCIONA ######### */

.como-funciona{
   margin-top: 2%;
   font-family: 'sora', sans-serif;
}

.titulo-como-funciona{
   text-align: center;
   font-weight: 600;
   font-size: 40px;
   color: #293145;
}

.container-como-funciona{
   display: flex;
   justify-content:space-around ;
   margin-top: 4%;
}

.card{
   width: 15%;
   text-align: center;
}

.titulo-card{
   font-size: 16px;
   color:#293145;
   font-weight: 600;
   padding: 10px;
}

.texto-card{
   color: #6E7275;
   font-size: 14px;
}





/* ######### BAIXE O APP ######### */

.baixe{
   background-color: #EFF8FF;
   width: 100%;
   margin: 2% auto;
}

.container-baixe{
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.conteudo-texto-baixe{
   width: 50%;
}

.titulo-principal-baixe{
   font-size: 32px;
   color: #293145;
   font-weight: 600;
   line-height: 1.3;
   font-family: 'sora', sans-serif;
}

.texto-baixe{
   width: 70%;
   color: #6E7275;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
   font-family: 'inter', sans-serif;
}

.bt-playstore, .bt-applestore{
   background-color: #293145;
   color: #ffffff;
   height: 45px;
   width: 25%;
   border-radius: 6px;
   border:none;
   font-size: 20px;
   font-weight: 500;
   margin: 5% 3% 0 0;
   box-shadow: 1px 1px 3px #6E7275;
} 

.material-icons{
   vertical-align: middle;
   width: 35px;
   height: 25px;
}

.bt-playstore:hover, .bt-applestore:hover{
   background-color: #3d4968;
   transition: 250ms;
   cursor: pointer;
}



/* ######### PLANOS ######### */

.planos{
   text-align: center;
}

.titulo-principal-planos{
   color: #293145;
   font-size: 40px;
   font-weight: 600;
   font-family: 'sora' ,sans-serif;
}

.texto-planos{
   font-size: 18px;
   color: #6E7275;
   line-height: 1.6;
   font-family: 'inter', sans-serif;
   width: 45%;
   margin: 1% auto;
}

.container-planos-cards{
   display: flex;
   justify-content: space-evenly;
   margin-top: 5%;
}

.card-planos{
   width: 25%;
   background-color: #EFF8FF;
   height: 370px;
   border: none;
   border-radius: 6px;
   color: #293145;
   font-family: 'inter', sans-serif;
}

.conteudo-card-planos{
   width: 80%;
   margin: auto;
}

.titulo-card-planos{
   font-family: 'sora' ,sans-serif;
   font-size: 36px;
   font-weight: 700;
}

.preco{
   font-size: 35px;
   font-weight: 600;
}

.preco::before{
   content: "R$";
   font-size: 18px;
   vertical-align: super;
}

.preco::after{
   content: "/mês";
   font-size: 22px;

}

.texto-card-planos{
   font-size: 16px;
   font-weight: 400;
   opacity: 0.8;
}

.bt-card-planos{
   background-color: #0F9AFE;
   color: #ffffff;
   border-radius: 30px;
   border: none;
   height: 40px;
   width: 85%;
   font-size: 16px;
   font-family: 'inter', sans-serif;
   box-shadow: 1px 1px 3px #293145;
}

.bt-card-planos:hover{
   background-color: #3cacfc;
   cursor: pointer;
   transition: 250ms;
   box-shadow: 1px 1px 3px #ffffff60;

}

.titulo-card-planos, .preco, 
.texto-card-planos, .bt-card-planos{
   margin-top: 17%;
}

.card-planos:hover{
   background-color:#293145;
   color: #ffffff;
   transition: 300ms;
}




/* ######### CONTATO ######### */

.contato{
   color: #ffffff;
   background-image: url(../Conteudo/contatos-background.png);
   background-repeat: no-repeat;
   background-size: cover ;
   height: 400px;
   text-align: center;
   background-blend-mode:darken;
   background-color: #00000079;
   margin-top: 4%;
}

.titulo-principal-contato{
   font-family: 'sora',sans-serif;
   font-size: 40px;
   font-weight: 600;
}

.texto-contato{
   color: #DBDBDB;
   line-height: 1.5em;
   font-family: 'inter',sans-serif;
   font-size: 18px;
   width: 40%;
   margin: auto;
}

.campo-contato{
   background: transparent;
   border: none;
   border-bottom:1px solid #ffffff ;
   margin-right: 3%;
   color: #ffffff;
   width: 25%;
}

.campo-contato::placeholder{
   font-family: 'inter',sans-serif;
   font-size: 16px;
   color: #ffffff;
}

.campo-contato:focus{
   outline: none;
   color: #FFFFFF;
}

.campo-contato:focus::placeholder{
   color: transparent;
}

.bt-contato{
   background-color: #0F9AFE;
   color: #ffffff;
   border-radius: 30px;
   border: none;
   height: 30px;
   width: 9%;
   font-size: 15px;
   font-family: 'inter', sans-serif;
   box-shadow: 1px 3px 4px #137de03f;
}

.bt-contato:hover{
   background-color: #3cacfc;
   cursor: pointer;
   transition: 250ms;
   box-shadow: 1px 1px 3px #ffffff60;
}

.titulo-principal-contato, .texto-contato,
.form-contato{
   padding: 2%;
}





/* ######### RODAPE   ######### */

.rodape{
   height: 70px;
   color: #293145;
   font-family: 'sora', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 13px;
}
