:root{
   --cinza_txt:#6d6d6d;
   --azul_titulo:#3F3D56;
   --branco: #eff8ff;
}

html{
   font-family: 'Inter';
   scroll-behavior: smooth;
}

.cabecalho{
   width: 90%;
   margin: 2% auto;
}

.cabecalho .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo{
   text-decoration: none;
   font-size: 20px;
   font-weight: 600;
   color: #000000;
}

.img-logo{
   vertical-align: middle;
}

.menu-nav{
   display: flex;
   justify-content: space-between;
   width: 35%;
}

.item-menu-nav a{
   text-decoration: none;
   color: var(--cinza_txt);
}

.linha-cabecalho{
   border-top: transparent;
   border-bottom: 1px solid #c5c5c5;
   margin: 0;
}


/* ###################### INFO ######################## */
.info{
   background-color: #eff8ff;
}

.info .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 90%;
   margin: 0 auto;
}

.titulo-info{
   width: 50%;
   font-size: 46px;
   font-weight: 800;
   color: var(--azul_titulo);
}

.ilustração-info{
   width: 50%;
}


/* ###################### SOBRE NOS ######################## */
.sobre-nos{
   padding: 4% 0;
}

.sobre-nos .container{
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 2% auto;
}

.card-sobre-nos{
   width: 25%;
   text-align: center;
}

.titulo-sobre-nos{
   text-align: center;
   font-size: 38px;
   font-weight: 600;
   color: var(--azul_titulo);
}

.card-titulo{
   font-size: 18px;
   font-weight: 500;
   line-height: 2.0em;
}

.txt-card-sobre{
   font-size: 16px;
   color: var(--cinza_txt);
}

.card-img{
   width: 60px;
   height: 65px;
}


/* ###################### PLANOS ######################## */

.planos{
   background-color: #EFF8FF;
   padding: 4% 0;
}

.planos .container{
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: 2% auto;
}

.titulo-planos{
   text-align: center;
   font-size: 38px;
   font-weight: 600;
   color: var(--azul_titulo);
}

.txt-planos{
   text-align: center;
   color: var(--cinza_txt);
   line-height: 2.0em;
}

.card-planos{
   width: 25%;
   padding: 5% 2%;
   text-align: center;
   border-radius: 10px;
   color: var(--azul_titulo);
   border: 1px solid #9d9d9d95;
   background-color: #dbecf9;
   box-shadow: 0px 1px 5px #9d9d9dad;
}

.card-planos:hover{
   background-color: #3F3D56;
   color: #eff8ff;
   transition: 350ms;
}

.titulo-card-planos{
   font-size: 36px;
   font-weight: 600;
   margin-bottom: 15%;
}

.titulo-card-planos::after{
   content: 'mb';
   font-size: 18px;
}

.preco{
   font-size: 28px;
   font-weight: 600;
   margin-bottom: 15%;
}

.preco::before{
   content: 'R$';
   font-size: 15px;
   vertical-align: top;
}

.preco::after{
   content: ',00/mes';
   font-size: 18px;
}

.descri-card-planos{
   font-weight: 1.3em;
   margin-bottom: 20%;
   height: 15%;
}

.bt-card-planos{
   text-decoration: none;
   color: #eff8ff;
   background: #0177CB;
   padding: 3% 25%;
   border-radius: 20px;
   box-shadow: 1px 1px 3px #293145;
}

.bt-card-planos:hover{
   background: #31a9ff;
   transition: 250ms;
}


/* ###################### APP ######################## */
.app{
   padding: 5% 0;
}

.app .container{
   width: 90%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.ilustracao-app{
   width: 500px;
}

.titulo-app{
   font-size: 32px;
   font-weight: 600;
   color: var(--azul_titulo);
   line-height: 1.5em;
}

.txt-app{
   line-height: 1.3em;
   color: var(--cinza_txt);
   margin-bottom: 5%;
}

.bt-app{
   text-decoration: none;
   background-color: #001a2e;
   color: #ffffff;
   padding: 2% 3%;
   border-radius: 6px;
   margin-right: 20px;
}

.bt-app:hover{
   background-color: #002541;
}

.icon-bt-app{
   vertical-align: middle;
}


/* ###################### CONTATO ######################## */

.contato{
   background-color: #eff8ff;
   padding: 5% 0;
}

.contato .container{
   width: 90%;
   margin: 0 auto;
}

.titulo-contato{
   text-align: center;
   font-size: 38px;
   font-weight: 600;
   color: var(--azul_titulo);
}

.txt-contato{
   text-align: center;
   line-height: 1.5em;
}

.form-contato{
   text-align: center;
   margin-top: 3%;
   display: flex;
   justify-content: center;
}

.label-email{
   visibility: hidden;
/*    Label apenas para melhora a acessibilidade do site*/
}
.campo-contato{
   width: 30%;
   height: 30px;
   outline: 1px solid #6d6d6dd3;
   box-shadow: 0px 1px 5px #9e9e9ed7;
   border: none;
}

.campo-contato:focus{
   outline: 1px solid #0F9AFE;
}

.campo-contato:focus::-webkit-input-placeholder{
   color: transparent;
}

.bt-contato{
   width: 10%;
   border-radius: 0px 10px 10px 0;
   outline: 1px solid #6d6d6dd3;
   border: none;
   background-color: #0177CB;
   color: #ffffff;
   font-weight: 600;
   font-size: 14px;
}

.bt-contato:hover{
   cursor: pointer;
   background-color: #31a9ff;
   outline: 1px solid #0F9AFE;
}



/* ###################### RODAPE ######################## */
.rodape{
   padding: 10px;
}

.txt-rodape{
   text-align: center;
   font-size: 13px;
   color: var(--cinza_txt);
}